body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

nav {
    background-color: #333;
    color: azure;
    padding: 4px;
}
nav a, nav form {
    display: inline;
}
.nav-item {
    display: inline;
    margin-left: 2rem;
}
.form {
    margin-left: 6rem;
}


nav a {
    text-decoration: unset;
    color: inherit;
}

nav select {
    border: inherit;
    background-color: inherit;
}

nav input, nav button {
    padding: 2px;
    border-radius: 5px;
}
nav input {
    border: 1px #222;
}
nav button {
    color: darkgreen;
    font-weight: bold;
    background-color: inherit;
    border: 2px darkgreen solid;
}

.slategrey {
    color: slategrey;
}
.bold {
    font-weight: bold;    
}